* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
scrollbar-width: none;
background-color: black;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
}

.App {
  width: 80%; 
  margin: 0 auto;
  display: flex;
  justify-content: center;
}