* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
scrollbar-width: none;
background-color: black;
overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #d62b9a;
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #b80b7b;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d62b9a;
} 