* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
scrollbar-width: none;
background-color: black;
}

body {
  width: 100%;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

.App {
   width: 80%;
}